html
    head
        meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
        meta(name='description', content='recover friendChatPage')
        meta(name='author', content='2014 recover')
        link(rel='icon', type ='image/x-icon',href='/images/favicon.ico')
        title
            | Recover
        link(href='/stylesheets/chat.css', rel='stylesheet', type='text/css')
        link(href='/stylesheets/friend.css', rel='stylesheet', type='text/css')
    body
        //#title
        //    | #{user.id}
        //    br
        //    | #{user.username}
        //    br
        //    | #{user.displayName}
        //    br
        //    img(src = '#{user.photos[0].value}')
        #logo(onclick = 'location.href=\'/\';')
            img(src='/images/recover_contact.png')
        #chatServiceStatus
            #userInfo
                #userPic
                    img(src = '#{user.photos[0].value}')
                #userName
                    | #{user.displayName}
                #logout(onclick = 'location.href=\'/logout\';')
                    | 로그아웃
                #friendChat(onclick = 'location.href=\'/\';')
                    | 친구와 채팅
                #userChat(onclick = 'location.href=\'/randomChat\';')
                    | 랜덤 채팅
        #chatContainer
            #connectionStatus
                | 연결 안 됨
            section#chatScroller
                #messages
                    article.myMessage
                        .profile
                        .block
                            span
                                | 채팅채팅 zxclaskdjfnㅁㄴ아ㅓ룸니아ㅓ룸나어루만어루
                    article.myMessage
                        .profile
                            img(src = 'images/Anonyprofile.png')
                        .block
                            span
                                | [패스파인더] 효과를 사용하면 컴파운드 모양과 달리 오브젝트들 간의 상호 작용을 .... Adobe Photoshop의 모양 레이어와 레이어 클리핑 패스(벡터 마스크)는 일종의 ㅁㄴ이ㅏ럼ㅇ눔ㄴ얼만어ㅜㄹ만어ㅜㅏㄴ무니여ㅕ 언ㅁ우람ㄴ어ㅜ라먼ㅇㄹ ㅁㄴ어루미ㅏㄴ어ㅜ만열 ㅁ나어루미ㅏㄴ여ㅜㄹ
                    article.otherMessage
                        .profile
                            img(src = 'images/Anonyprofile.png')
                        .block
                            span
                                | 채팅채팅
                    article.otherMessage
                        .profile
                            img(src = 'images/Anonyprofile.png')
                        .block
                            span
                                | 채팅채팅
                    article.otherMessage
                        .profile
                            img(src = 'images/Anonyprofile.png')
                        .block
                            span
                                | 2011. 1. 11. - I also need to make the DIV with the list of radio buttons slide back up whenever the user clicks somewhere outside of it/any other place on the ...
                    article.myMessage
                        .profile
                            img(src = 'images/Anonyprofile.png')
                        .block
                            span
                                | 채팅채팅
                    article.myMessage
                        .profile
                            img(src = 'images/Anonyprofile.png')
                        .block
                            span
                                | 채팅채팅
                    article.myMessage
                        .profile
                            img(src = 'images/Anonyprofile.png')
                        .block
                            span
                                | 채팅채팅
                    article.myMessage
                        .profile
                            img(src = 'images/Anonyprofile.png')
                        .block
                            span
                                | 채팅채팅
                    article.myMessage
                        .profile
                            img(src = 'images/Anonyprofile.png')
                        .block
                            span
                                | 채팅채팅
                #info
                    #alert
                        #friendRequest
                            | 상대방이 당신이 누군지 궁금해 해요!
                        button#friendRequestAccept
                            | 알려주기
                    #chatInfo
                        #chatTimeInfo
                            | 0분 째 채팅 중!
                        button#findFriend
                            | 누구에요?
                        button#leaveChat
                            | 채팅나가기
            #chatBar
                #chatMenu
                    img(src='images/more.png')
                input#chatInput(type='text', placeholder='내용을 입력하세요', name='chatBody', autocomplete='off')
                #chatSend
                    | 전 송
        #contact(onclick = 'location.href=\'/contact/login\';')
            img(src='/images/contact.png')
        #right
            img(src='/images/right.png')
        script(src='//cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.1/iscroll-infinite.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
        script(src='/javascripts/chat_socket.js')
        script(src='/javascripts/util.js')